* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 3em;
  height: 3em;
  object-fit: contain;
  margin-right: 10px;
}

h2 {
  color: #1877f2;
  font-size: 24px;
  padding-Left: 10%;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 14px 16px;
  font-size: 17px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
}

.form-control:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
  outline: none;
}

.btn-primary {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #166fe5;
}

select.form-control {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 30px;
}
